body{
    background-color: #FAE89E ;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Estilos para los botones de actualización y eliminación */
button.btn-primary,
button.btn-danger {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-primary {
    background-color: #007bff;
}

button.btn-danger {
    background-color: #dc3545;
}